/reports/final/acs-final.bib
/reports/final/final.aux
/reports/final/final.bbl
/reports/final/final.blg
/reports/final/final.log
/reports/mid/acs-interim.bib
/reports/mid/interim.aux
/reports/mid/interim.bbl
/reports/mid/interim.blg
/reports/mid/interim.log
*.pyc
